.center{text-align:center}.shelf{max-width:100%;display:flex;align-items:flex-start;justify-content:flex-start;flex-wrap:wrap}.shelf .entry{width:300px;margin-right:20px;margin-bottom:20px;flex:0 0 300px}.shelf .entry img{width:100%;height:auto}.shelf .entry img,.shelf .entry strong,.shelf .entry em{display:block}
