.center {
	text-align: center;
}

.shelf {
	max-width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;

	.entry {
		width: 300px;
		margin-right: 20px;
		margin-bottom: 20px;
		flex: 0 0 300px;

		img {
			width: 100%;
			height: auto;
		}

		img, strong, em {
			display: block;
		}
	}
}
